
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href="~/swagger/ui/index">打开帮助文档</a>
    当前缓存的用户: @ViewBag.User
</body>
</html>
