<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--mssql-->
  <add name="default" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.1.90;Initial Catalog=ShineFramework_v3.2;User ID=sa;Password=LeyviewSql123" />
  <!--localdb-->
  <!--<add name="default" providerName="System.Data.SqlClient" connectionString="Data Source=.;Integrated Security=True;Initial Catalog=ShineFramework_v3.2;" />-->
  <!--mysql-->
  <!--<add name="mysql-default" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost; Database=ShineFramework_v3.2; Uid=gmf; Pwd=31529019; charset=utf8;" />-->
</connectionStrings>