<?xml version="1.0" encoding="utf-8" ?>
<shine xmlns="http://iot-leyview.com:112/shine.xsd"> 
  <data>
      <contexts>
        <context name="default" enabled="true" dataLoggingEnabled="true" connectionStringName="default" type="Shine.Data.EF.DefaultDbContext,Shine.Data.EF">
          <initializer type="Shine.Data.EF.DefaultDbContextInitializer,Shine.Data.EF" mapperFiles="Shine.DataProcessingLogic">
            <createInitializer type="Shine.DataProcessingLogic.Data.CreateDatabaseIfNotExistsWithSeed,Shine.DataProcessingLogic"/>
          </initializer>
        </context>

      <context name="logging" enabled="true" dataLoggingEnabled="true" connectionStringName="default" type="Shine.Data.EF.Logging.LoggingDbContext,Shine.Data.EF">
        <initializer type="Shine.Data.EF.Logging.LoggingDbContextInitializer, Shine.Data.EF" mapperFiles="Shine.Data.EF"/>
      </context>
    </contexts>
  </data>
  <logging>
    <entry enabled="true" level="Debug"/>
    <basic>
      <adapters>
        <adapter name="log4net" enabled="true" type="Shine.Comman.Log4Net.Log4NetLoggerAdapter, Shine.Comman.Log4Net"/>
      </adapters>
    </basic>
  </logging>
</shine>
